@charset "utf-8";

/* global menu */
#header .logo {margin:10px 0 0 37px;height:37px;}
#header .global_menu {float:right;height:47px;}

/* global > builder section */
.global_menu .builder 	{float:left;margin:0 0 0 0;}
.global_menu .builder li 	{display:inline-block;height:27px;padding:10px 0 0 0;}
.global_menu .builder li a span {display:none;}
.global_menu .builder li.site a {display:inline-block;width:40px;height:17px;background:url(../images/menu/gn_site.gif) no-repeat;}
.global_menu .builder li.site a:hover{background:url(../images/menu/gn_site_on.gif) no-repeat;}
.global_menu .builder li.site_hover a {display:inline-block;width:40px;height:17px;background:url(../images/menu/gn_site_on.gif) no-repeat;} 

.global_menu .builder li.exte a {display:inline-block;width:85px;height:17px;background:url(../images/menu/gn_exte.gif) no-repeat;}
.global_menu .builder li.exte a:hover{background:url(../images/menu/gn_exte_on.gif) no-repeat;}
.global_menu .builder li.exte_hover a {display:inline-block;width:85px;height:17px;background:url(../images/menu/gn_exte_on.gif) no-repeat;} 

.global_menu .builder li.sett a {display:inline-block;width:103px;height:17px;background:url(../images/menu/gn_sett.gif) no-repeat;}
.global_menu .builder li.sett a:hover{background:url(../images/menu/gn_sett_on.gif) no-repeat;}
.global_menu .builder li.sett.hover a {background:url(../images/menu/gn_sett_on.gif) no-repeat;} 

/* global > user section */
.global_menu .user 	{float:right;margin:13px 40px 0 0;font-size:0;}
.global_menu .user  li {display:inline-block;height:13px;padding:0 11px 0 10px;border-right:1px solid #5d5d5d;line-height:13px;}
.global_menu .user  li a {color:#c7c7c7;font-family:Lucida-Grande;font-size:11px;}
.global_menu .user li.last {border-right:none;}
/* update module icon in top navi */
.extension_update_icon 	{float:left;width:40px;margin:-8px -10px 0 0;z-index:100;text-align:right;}
.icon_update 			{position:relative;display:inline-block;z-index:100;height:15px;background:url(../images/menu/gn_update_icon.gif) left top no-repeat;}
.icon_update span 		{display:block;height:15px;margin-left:6px;background:url(../images/menu/gn_update_icon.gif) right top no-repeat;line-height:11px;}
.icon_update strong 	{position:relative;left:-3px;top:2px;min-width:10px;font-weight:normal !important;font-family:tahoma;font-size:9px;color:#000;
display:inline-block;text-align:center;line-height:11px;}

/* global > settings > sub navi */
.gn_sub_settings {position:absolute;z-index:21;display:none;width:142px;top:30px;margin-left:-5px;border-top:2px solid #29aed3;background:#fff;}
.gn_sub_settings dl {border:1px solid #ccc;border-top:none !important}
.gn_sub_settings a, .sett .sub_settings a:hover {display:inline !important;background:url(none) !important;}/* reset inherit css */
.gn_sub_settings dd {padding:5px 0 0 14px;width:124px;height:19px;background:url(../images/menu/gn_sett_sub_icon.gif) 5px 9px no-repeat;margin:0 1px;border-bottom:1px solid #dadcce;}
.gn_sub_settings dd.last {border:none !important;}
.gn_sub_settings a {font-size:11px;color:#444;text-decoration:none;}
.gn_sub_settings dd:hover {background-color:#eee;cursor:pointer;}
#sub_site {}
#sub_exte {margin-left:70px;}
#sub_sett {margin-left:160px;}
/* global > site > sub navi */

/* update module icon in side navi */
#left_subpage .icon_update {position:absolute;left:103px;top:-1px;height:17px;background:url(../images/bg_updt_num_mm.png) left top no-repeat;font-size:11px;color:#744c08}
#left_subpage .icon_update span {display:block;height:22px;margin-left:8px;margin-right:-10px;padding:1px 3px 0 0;background:url(../images/bg_updt_num_mm.png) right top no-repeat;line-height:normal}
#left_subpage .icon_update strong {position:relative;left:-3px;}

/* main> group menu */
.mn_group {padding:0 0 0 10px;margin:0 0 -10px -10px;line-height:17px;background:url(../images/menu/mn_group.gif) left 5px no-repeat;}
.mn_group_on {padding:0 0 0 10px;margin:0 0 -10px -10px;line-height:17px;background:url(../images/menu/mn_group_on.gif) left 5px no-repeat;}

/* main menu */
.main_menu	{position:relative;float:left;z-index:20;clear:both;margin:0 0 0 0;}
.main_menu 	{width:100%;height:36px;}
/* scroll button */
.scroll_left {width:39px;float:left;display:inline-block;padding:1px 0 0 0;margin-right:-1px;}
.scroll_right {width:38px;float:right;padding:1px 0 0 0}
/* menus */
.main_menu li	{float:left;width:117px;height:27px;padding:8px 0 0 0;background:url(../images/menu/mn_normal.gif) no-repeat;text-align:center;}
.main_menu li	{margin-right:-1px;z-index:100;}
.main_menu li.dashboard {background:url(../images/menu/mn_normal_d.gif)}
.main_menu li:hover {position:relative;background:url(../images/menu/mn_hover.gif) no-repeat;z-index:200;cursor:pointer;}
.main_menu li.hover {position:relative;background:url(../images/menu/mn_hover.gif) no-repeat;z-index:200;cursor:pointer;}
.main_menu .first		{margin:1px 0 0 0;width:1600px;}
.main_menu .overflow_wrap {width:800px;overflow:hidden;}
/* font */
.main_menu li a			{color:#fefefe;text-decoration:none;}/* no height */
.main_menu li:hover		{color:#444;}

/*2nd menu */
.main_menu .second		{position:absolute;display:none;top:32px;z-index:201}
.main_menu .second		{border:1px solid #7cac4d;padding:1px;}
.main_menu .second dd 	{text-align:left;}
.main_menu .second dd	{display:block;Clear:both;border-bottom:1px solid #dadcce;}/* no height */
.main_menu .second dd a	{display:block;min-width:91px;white-space:nowrap;font-size:11px;color:#444;height:21px;padding:3px 10px 0 13px !important;}
/* mn sub menu position */
.main_menu .second.mn_sub_2 {left:154px;/*39+117-2*/}
.main_menu .second.mn_sub_3 {left:270px;/* + 117-1*/}
.main_menu .second.mn_sub_4 {left:386px;/* + 117-1*/}
.main_menu .second.mn_sub_5 {left:502px;/* + 117-1*/}
.main_menu .second.mn_sub_6 {left:618px;/* + 117-1*/}
.main_menu .second.mn_sub_7 {left:734px;/* + 117-1*/}
.main_menu .second.mn_sub_8 {left:850px;/* + 117-1*/}
.main_menu .second.mn_sub_9 {left:966px;/* + 117-1*/}

/* 3rd menu */
.main_menu .third	{position:relative;border-top:1px solid #dadcce;}
.main_menu .third dd a	{display:block;padding:5px 19px 5px 3px;white-space:nowrap;Color:#557107;}

/* 4th menu */
.main_menu .fourth {position:absolute;border:1px solid #a2c480;margin:-25px 0 0 154px;}
.main_menu .fourth a:hover {color:#444;}
.main_menu .last {border-bottom:0 !important;}



/* drop-down color/bg */
.main_menu .second				{background:#fff;}
.main_menu .second dd:hover 	{background-color:#e2eacc;color:#444;}

.main_menu .third_par		{background:url(../images/menu/mn_second_sub_icon.gif) right top no-repeat;}
.main_menu .third_par:hover 	{background:#e2eacc url(../images/menu/mn_second_sub_icon.gif) right top no-repeat;}
.main_menu .third_par .third a:hover {background:url(none)} 

.main_menu .third dd			{background:#eee;}
.main_menu .third dd:hover		{background-color:#e2eacc !important;color:#444;}
.main_menu .third .fourth_par	{background:#eee url(../images/menu/mn_third_icon.gif) right top no-repeat}
.main_menu .third .fourth_par:hover	{background:#e2eacc url(../images/menu/mn_third_icon.gif) right top no-repeat}

.main_menu .fourth			{background:#efefef url(none) !important;}
.main_menu .fourth:hover 	{background:#e2eacc url(none) !important;}



